<!DOCTYPE html>
<html style="">
  <head>
    <title>QrcodeGen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--- stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body style="">
    <%= render 'shared/header' %>
    <main class="container mx-auto px-2 sm:px-5 flex h-full">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
